pip==23.3.2
ansi2html==1.8.0
asgiref==3.7.2
async-timeout==4.0.3
blinker==1.7.0
bootstrap4==0.1.0
branca==0.7.0
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
dash==2.14.2
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
Django==4.2.7
Flask==3.0.0
Flask-Login==0.6.3
folium==0.15.0
fonttools==4.44.0
gmplot==1.4.1
hiredis==2.0.0
idna==3.4
importlib-metadata==6.8.0
influxdb==5.3.1
influxdb-client==1.38.0
inotify==0.2.10
inotify-simple==1.3.5
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.8.1
mdclogpy==1.1.4
msgpack==1.0.7
nest-asyncio==1.5.8
nose==1.3.7
ntplib==0.4.0
numpy==1.26.0
packaging==23.2
Pillow==10.1.0
plotly==5.18.0
protobuf==3.20.3
pyfiglet==1.0.2
pyparsing==3.1.1
python-dateutil==2.8.2
reactivex==4.0.4
redis==4.3.6
requests==2.31.0
retrying==1.3.4
ricsdl==3.1.3
ricxappframe==3.2.2
six==1.16.0
socket.py==0.1.0
sqlparse==0.4.4
tenacity==8.2.3
thread6==0.2.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.1
urllib3==2.0.6
Werkzeug==3.0.1
zipp==3.17.0
psutil==5.9.6
ntplib==0.4.0
pytz==2023.3
flask-cors