.body-background {
    background-color: #f4f4f4; /* Background color */
    font-family: Arial, sans-serif; /* Font style */
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow-y: auto; /* Enables vertical scrolling */
}

.form-container {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 40px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}
